*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    font-size: 1.5rem;
}

body{
    background-color: rgb(141, 141, 141);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 25px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 8px 8px rgba(15, 63, 102, 0.377);
}

.header-todo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    margin-bottom: 20px;
}

.body-todo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.body-todo input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(46, 46, 46);
    word-wrap: break-word; /* Memungkinkan kata untuk terputus dan membungkus */  
    overflow-wrap: break-word; /* Memastikan kata terputus jika terlalu panjang */  
    overflow: hidden; /* Sembunyikan teks yang melampaui batas */  
}
.body-todo img{
    margin-right: 5px ;
    cursor: pointer;
    height: 35px;
}


ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-radius: 20px;
    color: black;
    font-size: 12px;
    padding: 10px;
    max-width: 100%;
    overflow-wrap: break-word; /* Memastikan kata terputus jika terlalu panjang */  
}

h6{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.todo-controls{
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 1px;
    cursor: pointer;
}



.todo-controls:hover {  
    opacity: 0.7; /* Mengubah sedikit transparansi saat mouse hover */  
}  