.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
    font-size: 48px; 
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px; /* Memberi jarak antara judul dan tabel */
}

table, tr, td{
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    border: 2px solid;
    text-align: center;
}

table {
    width: fit-content;
}

tr:hover{
    background-color: rgb(11, 236, 236);
}

th {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    background-color: blueviolet;
}

.senin {
    background-color: rgb(153, 73, 73);
}
.selasa {
    background-color: rgb(168, 168, 9);
}
.rabu {
    background-color: rgb(34, 121, 92);
}