body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7ae9e3;
}
.container {
    background: rgb(74,251,249);
    background: linear-gradient(90deg, rgba(74,251,249,1) 0%, rgba(29,253,134,1) 50%, rgba(252,228,69,1) 100%);
    border-radius: 10px;
    padding: 50px;
    box-shadow:  10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4e2828;
    border-radius: 15px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4cfafa;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 10px 5px;
    font-weight: bold;
}
button:hover {
    background: rgb(74,251,249);
    background: linear-gradient(90deg, rgba(74,251,249,1) 0%, rgba(29,253,134,1) 50%, rgba(252,228,69,1) 100%);
    color: aliceblue;
}
.result {
    margin-top: 20px;
    font-size: 18px;
}