body {
    background-color: #9760ff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(225,74,251);
    background: linear-gradient(90deg, rgba(225,74,251,1) 0%, rgba(29,37,253,1) 50%, rgba(69,252,192,1) 100%);
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 8px 8px rgba(15, 63, 102, 0.377);
}

h2 {
    text-align: center;
    color: white;
    
}

input[type="text"], input[type="email"], textarea {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7bddcd;
    border-radius: 5px;
    background: #fbf8ff;
}

button {
    background-color: #12a4c9;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    border: #860e58;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

button:hover {
    background: rgb(225,74,251);
    background: linear-gradient(90deg, rgba(225,74,251,1) 0%, rgba(29,37,253,1) 50%, rgba(69,252,192,1) 100%);
    color: #ffffff;
}